
@import 'colors/default';

body {
    background: $bgcolor;
    color: #003300;
    font-family: 'Varela Round', sans-serif;
}

.splitpane-container {
    position: absolute; top: 0; left: 80px; bottom: 0; right: 0;
}

.panel-treeview {
    width: 100%; 
    height: 100%;
    overflow: auto;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d1d1d1+0,000000+100&0.65+0,0+100 */
background: -moz-linear-gradient(left, rgba(209,209,209,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(209,209,209,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(209,209,209,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6d1d1d1', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
    //border-right: 1px solid $color2;
}