
@import 'colors/something';

body {
    background: $bgcolor;
    color: #003300;
    font-family: 'Varela Round', sans-serif;
}

.splitpane-container {
    position: absolute; top: 0; left: 80px; bottom: 0; right: 0;
}

.panel-treeview {
    width: 100%; 
    height: 100%;
    overflow: auto;
    background: #FFF;
    //border-right: 1px solid $color2;
}

.iframe-wrapper {
    position: absolute; top: 126px; left: 0px; right: 0; bottom: 0;
}
iframe {
    position: absolute;
    border: 0;
    margin: 0; padding: 0;
    border-bottom: 2px solid #00ff00;
    width: 100%;
    height: 100%;
}

.loadingiframe {
    position: absolute; top: 126px; left: 0px; right: 0; bottom: 0;
    background: #000;
    opacity: 0.8;
    img {
        display: block; margin: 100px auto 0 auto;
    }
}

.blockiframe {
    position: absolute; top: 0; right: 0; left: 0; bottom: 0; background: #000; opacity: 0.1;
}

.errors {
    margin-bottom: 10px;
    .errormsg {
        color: red;
    }
}

.loading {
    img {
        display: block; 
        margin: 10px auto;
    }
}