
.toolbar {
    height: 40px;
    background: $color1;
}

.betweenDropTarget {
    height: 2px; background: #00ff00;
}

input.treeviewinput, input.treeviewinputEdit {
    display: block;
    border: 0;
    border: 1px solid $color1;
    border-radius: 4px;
    padding-left: 5px;
    height: 15px;
    min-width: 10px;
    font-size: 14px;
    margin-left: 0px;
    flex: 1;
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
}

input.treeviewinputEdit {
    background: $color1;
    border-radius: 4px;
    border: 0;
    width: 100%;
    min-width: 10px;
    margin-top: -2px;
    padding-left: 0;
    padding-top: 3px;
    height: 15px;
    color: #FFF;
}

.tree {
    padding: 15px;
    ul {
        list-style-type: none;
        display: block;
        padding: 0 0 0 0px; margin: 0 0 0 26px;
        border-left: 1px dotted #d2d2d2;

        li {
            margin-left: -10px;
            display: block; min-height: 25px; 
            div.treeitem {
                display: flex;
                -moz-user-select: none;
                user-select: none;
                height: 15px;
                padding: 5px;
                font-size: 14px;
                .fa {
                    width: 10px;
                    margin-right: 5px;
                }
                .arrow:hover {
                    cursor: pointer;
                }
                .fileicon { margin-right: 5px; }
            }
            div.treeitem:hover {
                background-color: #e3e3e3;
                cursor: default;
                border-radius: 6px;
            }
            div.selected {
                /*background: #0275d8;*/
                background: $menuback;
                /*background: #d3d3d3;*/
                color: #FFF;
                border-radius: 6px;
            }
            div.selected:hover {
                background: $menuback;
                /*background: #d3d3d3;*/
                color: #FFF;
            }
            div.adding input { color: $color4; text-decoration: italic; } 
            div.draghover { 
                border: 1px dotted $color1;
                border-radius: 4px;
                /*background: #00ff00;*/
            }
        }
        li.deleted div.treeitem{ color: red }
    }
}

.tree > ul {
    margin: 0; padding: 0; border: 0;  
}
.tree > ul > li { margin: 0 }