@import core.controllers.UserData
@import helper._
@(loginForm: Form[UserData])(implicit messages: Messages, request:Request[AnyContent])

@core.views.html.main("Login"){

<div class="login-wrapper">

    <div class="login-page" style="opacity: 0;">
    <div class="form">
        <form method="POST" action="" class="register-form">
            <input type="text" placeholder="email address"/>
            <button>Retrieve password</button>
            <p class="message"><a href="#">Sign In</a></p>
        </form>
        @helper.form(action = core.controllers.routes.AdminController.doLogin()) {
            @if(loginForm.hasErrors) {
                <div class="errors">
                    <span class="errormsg">Incorrect username or password</span>
                </div>
            }
            <input type="text" name="username" placeholder="username"/>
            <input type="password" name="password" placeholder="password"/>
            <button>login</button>
            <p class="message">Forgot password? <a href="#">Retrieve password</a></p>
            @CSRF.formField
        }
    </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>

$(document).ready(function(){
    $(".login-page").animate({opacity: 1}, "slow");
    addAnimation();
});

function addAnimation() {
    $('.message a').click(function(){
       $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
    });
}

</script>
}