@import core.utils._
@import core.views.html.editables._
@(document:Document)(implicit request:PageRequest[AnyContent])

@main(document.name) {
<div class="row section-row">
    <div class="col-md-6">
        <h1>@document.name</h1>
        @inlineeditable("test", "h2")
        @inlineeditable("blaat", "div")
    </div>
    <div class="col-md-6">
        @inlineeditable("nogeentest", "div")
    </div>
    <div class="col-md-6">@inlineeditable("leftcol", "div")</div>
    <div class="col-md-6">@inlineeditable("rightcol", "div")</div>
</div>

}