@(document:Document)

@main("een test") {
    <h1>@document.name</h1>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
    <p>Een test</p>
}